# API Configuration
PORT=3000

# Kafka Configuration
KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=centralizador-api

# Database Configuration
DATABASE_URL=postgres://admin:password123@localhost:5432/centralizador_db

# Environment
NODE_ENV=development
